
<div class="jumbotron">

  <h2><big>ЗАСТАВЬТЕ КОММУНАЛЬЩИКОВ РАБОТАТЬ!</big></h2>
  <p><h2><b>Онлайн-сервис для помощи решения проблем в жилищно-коммунальной сфере</b></h2></p>

	<p><small>
		<h2>
			1) Укажите проблему <br>
			2) Напишите заявление<br>
			3) Контролируйте решение проблемы
		</h2>
	</small></p>
	
  <p><a class="btn btn-primary btn-lg" href="/messagenew">написать заявление</a></p>
</div>


{{template "about"}}

