
<div class="jumbotron">

  <h2><big>ЗАСТАВЬТЕ КОММУНАЛЬЩИКОВ РАБОТАТЬ!</big></h2>
  <p><h2><b>Онлайн-сервис для помощи решения проблем в жилищно-коммунальной сфере и ЖКХ</b></h2></p>

	<p><small>
		<h2>
			1) Укажите проблему <br>
			2) Напишите заявление<br>
			3) Контролируйте решение проблемы
		</h2>
	</small></p>
	
  <p><a class="btn btn-primary btn-lg" href="/messagenew">написать заявление</a></p>
</div>


<h1>Как это работает</h1>
<br>
<p>Это сервис, при помощи которого можно заставить коммунальщиков нормально работать. 
Наши сотрудники получив Ваше сообщение сами уведомляют и контролируют решение проблемы управляющей компанией. 
Вам остается только указать проблему, адрес и нажать кнопку «Отправить».

</p><p>После отправки заявления МКУ "УЖКХ" проводит проверку, составляет акт, выдаются рекомендации управляющей компании все привести в порядок.

</p><p>Список обязанностей коммунальщиков закреплен в Правилах и нормах технической 
эксплуатации жилищного фонда и Правилах предоставления коммунальных услуг. 
Согласно этим документам в доме все всегда должно быть идеально.

</p><p>Таким образом грязь в лифте — это не просто грязь. Это «Нарушение правил содержания и ремонта жилых домов». 

</p><p>Закон об обращениях граждан обязывает нас направить ответ не позднее 30 дней. 
Прибавьте к этому неделю-две на работу почты. 
Если через сорок пять дней Вы не получите ответ, то это по статье 5.59 КоАП «Нарушение порядка рассмотрения обращений граждан». Штраф до 10 000 рублей.
</p>


<!--
<p class="text-muted">
Hello {{.hello}}!
This is the { { current }} page.
</p>
-->