  <div class="container">
	<div class="col-md-10 col-md-offset-1">

		{{if .error}}
			<div class="alert alert-dismissible alert-danger">
			  <h3><b>ОШИБКА:</b> {{.error}}</h3>
			</div>
		{{end}}

		{{if .posts}}
			{{range .posts}}
				<div class="row">
				  <div class="col-md-12">
					<div class="panel panel-default">
					  <div class="panel-heading">
						<b> {{.userdata.name}} {{.userdata.pat}} {{.userdata.fam}}</b> от {{.postdatefmt}}
						<br>
					  </div>
					  <div class="panel-body">
						  <div class="col-md-12" style="white-space: pre-wrap;">{{printf "%s" .text}}</div>
						  {{if .images}}
							<div class="col-md-12">
								{{range .images}}
									<a href="{{.path}}" title="{{.title}}" data-gallery>
									<img src="{{.pathmin}}" style="margin:4px;padding:4px;"/>
									</a>
								{{end}}
							</div>
						  {{end}}
					  </div>
					  <div class="panel-footer">
						<div class="container">
							<div class="col-md-1"><a href="/messageview/{{.uuid}}" title="просмотр">просмотр</a></div>
							<div class="col-md-2"><a href="/messageview/{{.uuid}}#comment" title="просмотр комментариев">комментарии (0)</a></div>
						</div>
					  </div>
					</div>
					<br>
				  </div>
				</div>
			{{end}}
		{{else}}
			<div class="alert alert-dismissible alert-info">
			  <strong>А сообщений нет.</strong> <br> Никто пока ещё не разместил или не подтвердил публицию своих сообщений.
			</div>
		{{end}}



	</div>
  </div>




