	
<script  type="text/javascript">
var imagesuploaded = []
jQuery( document ).ready(function() {
	$('input[type=text]').tooltip({ placement: "top", trigger: "focus" });
	$('input[type=checkbox]').tooltip({ placement: "top", trigger: "focus" });
	
	$('#fileupload').click(function(){
		$('#fileuploadctrl').val('')
		document.getElementById('fileuploadctrl').click();
	});
	
	$('#fileuploadctrl').change(function(){
		obj = $('#fileuploadctrl');
		
	    var fd = new FormData;
		
		for(i=0;i<obj.prop('files').length;i++){
			fd.append('file', obj.prop('files')[i]);
		}
		fd.append('path', obj.val());
		fd.append('time', $('#time').val());
		fd.append('uuid', $('#uuid').val());
		
	    $.ajax({
	        type: 'POST',
	        url: '/uploadfile',
	        data: fd,
	        processData: false,
	        contentType: false,
	        success: function (dataall) {
				//alert(dataall)
				//return
				dataall = JSON.parse(dataall);
				if(dataall['error']){
					s = `	
							<div class="panel panel-default col-md-4" style="margin:2px;padding:2px;">
							  <div class="panel-body errorinfo" style="color:red;font-weight:bold;">
								`+dataall['error']+`
							  </div>
							</div>
						`
					$('#resultinfo').html(s)
					return
				}
				
				for(i=0;i<dataall["cnt"];i++){
					data = dataall[i]
					show_userimage(data)
				}
				update_session_postdata(1)
	        }
	    });
		
		//alert(fd);
	})
	
	
	$('#sendpost').click(function(){
		var aerr = []
		if( /^[a-z0-9_-]+@[a-z]+[a-z0-9_]+\.[a-z0-9]{2,5}$/i.test($('#email').val().trim())==false ) aerr.push('обязательно укажите email, на него будут направлены уведомления о решении проблемы')
		if( /[a-zа-я \n\r]{5,}/i.test($('#posttext').val().trim())==false ) aerr.push('напишите хотя бы несколько слов о проблеме')
		if( /^[a-zа-я ]{2,}$/i.test($('#fam').val().trim())==false ) aerr.push('укажите фамилию (не менее 2 букв)')
		if( /^[a-zа-я ]{2,}$/i.test($('#name').val().trim())==false ) aerr.push('укажите имя (не менее 2 букв)')
		
		
		if( aerr.length > 0 ){
		    return show_user_errors(aerr)
		}else{
			$('#resultinfo').html("")
		}
		
		jsondatastr = get_post_data_jsonstr()
		
	    $.ajax({
	        type: 'POST',
	        url: '/newmessagesend',
	        data: jsondatastr,
	        success: function (data1) {
				alert(data1)
				data1 = JSON.parse(data1);
				if(data1['error']){
					return show_user_error(data1['error'])
				}
				s = `	
					<div class="alert alert-dismissible alert-success">
					  `+data1['info']+`
					</div>
					`
				$('#resultinfo').html(s)
				$('#fieldset1').hide()
				$('#fieldset2').find('#sendpost').hide()
	        }
	    });
	})
	
	$('.userpostdata').find('input[type=text]').change(update_session_postdata)
	$('.userpostdata').find('textarea').change(update_session_postdata)
	{
		//выводим картинки загруженные пользователем ранее в этой же сессии и обязательно после $('.userpostdata').find('input[type=text]').change(update_session_postdata)
		var useroldimages = JSON.parse("{{.post.imagesuploaded_jsonstr}}");
		for(i=0;i<useroldimages.length;i++){
			var d = useroldimages[i]
			show_userimage(d)
		}
	}
});


//сохраняем промежуточные данные введенные пользователем в текущей сессии
window.savesession_postdata = 0  // флаг сохранения текущей сессии
window.savesession_cnt = 0
window.savesession_wait = 0
function update_session_postdata(needsave){
	if(window.savesession_postdata==0 || needsave==1){
		window.savesession_wait = 0;
		window.savesession_postdata = 1;
		jsondatastr = get_post_data_jsonstr()
		$.ajax({
		    type: 'POST',
		    url: '/newmessagesavesession',
		    data: jsondatastr,
		    success: function (data1) {
				window.savesession_cnt += 1;
				//$('#resultinfo').html("update "+window.savesession_cnt)
				setTimeout(function(){window.savesession_postdata = 0;},1000)
		    }
		});
	}else{
		if(window.savesession_wait == 0){
			window.savesession_wait = 1
			setTimeout(update_session_postdata,1000)
		}
	}
}

//добавляет блок загруженной картинки с подписью для редактирования пользователем
function show_userimage(data){
	if(!data) return;
	if(!data['path']) return;	
	if(!data['pathmin']) return;
	//alert(data)
	n = imagesuploaded.length
	imagesuploaded[n] = data
	
	if(!data['text']) data['text'] = ''
	
	s = `	
			<div class="panel panel-default col-md-3 userimageblock`+n+`" style="margin:2px;padding:2px;">
			  <div class="panel-body">
				<button type="button" class="close" onclick="removeimage(`+n+`)">&times;</button>
			    <center>
					<a href="`+data['path']+`" title="" data-gallery>
					<img src="`+data['pathmin']+`" style="margin:4px;padding:4px;"/>
					</a>
				</center>
				<input type="text" placeholder="укажите описание файла" title="" data-toggle="tooltip" 
					   class="form-control imagenxname" filen=`+n+`
					   value="`+data['text']+`"
					/>
			  </div>
			</div>
		`
	$('#filesinfo').append(s)
	$('#filesinfo').find('input[filen='+n+']').change(update_session_postdata)
}

function removeimage(n){
	imagesuploaded[n] = {}
	delete imagesuploaded[n];
	$('#filesinfo').find(".userimageblock"+n).remove()
	update_session_postdata()
}

//get_post_data_jsonstr возвращает все введенные пользователем данные в json строке
function get_post_data_jsonstr(){
	var fd2 = {}
	fd2['uuid'] = $('#uuid').val();
	fd2['time'] = $('#time').val();
	fd2['hidepost'] = $('#hidepost').val();
	fd2['hideuser'] = 0;
	fd2['fam'] = $('#fam').val();
	fd2['name'] = $('#name').val();
	fd2['pat'] = $('#pat').val();
	fd2['email'] = $('#email').val();
	fd2['phone'] = $('#phone').val();
	fd2['street'] = $('#street').val();
	fd2['house'] = $('#house').val();
	fd2['flat'] = $('#flat').val();
	fd2['posttext'] = $('#posttext').val();
	
	$(".imagenxname").each(function(){
		var obj = $( this )
		var i = obj.attr("filen")
		if(imagesuploaded[i]){
			imagesuploaded[i]['text'] = obj.val()
		}
	})
	fd2['imagesuploaded'] = imagesuploaded;
	
	return JSON.stringify(fd2);
}

function show_user_error(err){
	s = `	
		<div class="alert alert-dismissible alert-danger">
		  <button type="button" class="close" data-dismiss="alert">&times;</button>
		  `+err+`
		</div>
		`
	$('#resultinfo').html(s)
}

function show_user_errors(aerr){
	a = ''
	for(i=0;i<aerr.length;i++){
		a += aerr[i]+'<br>'
	}
	s = `	
		<div class="alert alert-dismissible alert-danger">
		  <button type="button" class="close" data-dismiss="alert">&times;</button>
		  `+a+`
		</div>
		`
	$('#resultinfo').html(s)
}
</script>

<form1 class="form-horizontal userpostdata">
  <fieldset id=fieldset1>
    <legend>Оформление заявления</legend>
	<div class="col-md-11 col-md-offset-1"><b style="color:red;">*</b> - поля обязательные для заполнения</div>
	
	<input type=text id="uuid" value="{{.post.uuid}}" />
	<input type=text id="time" value="{{.post.time}}" />
	
	<div class="col-md-5">
		<legend>От кого</legend>
	    <div class="form-group">
	      <label for="fam" class="col-md-2 control-label">Фамилия<b style="color:red;">*</b></label>
	      <div class="col-md-10">
			<input name="fam" placeholder="Фамилия" value="{{.post.fam}}"
			       id="fam" type="text" data-toggle="tooltip" class="form-control" />
	      </div>
	    </div>
	    <div class="form-group">
	      <label for="name" class="col-md-2 control-label">Имя<b style="color:red;">*</b></label>
	      <div class="col-md-10">
			<input name="name" placeholder="Имя" value="{{.post.name}}"
			       id="name" type="text" data-toggle="tooltip" class="form-control" />
	      </div>
	    </div>
	    <div class="form-group">
	      <label for="pat" class="col-md-2 control-label">Отчество</label>
	      <div class="col-md-10">
			<input name="pat" placeholder="Отчество" value="{{.post.pat}}"
			       id="pat" type="text" data-toggle="tooltip" class="form-control" />
	      </div>
	    </div>
		
	    <div class="form-group">
	      <label for="email" class="col-md-2 control-label">Email<b style="color:red;">*</b></label>
	      <div class="col-md-10">
			<input name="email" placeholder="Email"  value="{{.post.email}}"
				   title="на этот адрес будут приходить сообщения о процессе рассмотрения и решения указанной проблемы а также запрос на подтверждение заявления (email не будет опубликована на сайте)" 
			       id="email" type="text" data-toggle="tooltip" class="form-control" />
	      </div>
	    </div>
		
	    <div class="form-group">
	      <label for="phone" class="col-md-2 control-label">Телефон</label>
	      <div class="col-md-10">
			<input name="phone" placeholder="телефон" value="{{.post.phone}}" 
				   title="может понадобиться для уточнения деталей (указывать не обязательно, не будет опубликован на сайте)" 
			       id="phone" type="text" data-toggle="tooltip" class="form-control" />
	      </div>
	    </div>
	</div>
	
	<div class="col-md-6">
		<legend>Адрес</legend>

	    <div class="form-group">
	      <label for="street" class="col-md-2 control-label">Улица</label>
	      <div class="col-md-10">
			<input name="street" placeholder="Улица" value="{{.post.street}}" 
			       id="street" type="text" data-toggle="tooltip" class="form-control" />
	      </div>
	    </div>
		
	    <div class="form-group">
	      <label for="house" class="col-md-2 control-label">Дом</label>
	      <div class="col-md-10">
			<input name="house" placeholder="Дом" value="{{.post.house}}"
			       id="house" type="text" data-toggle="tooltip" class="form-control" />
	      </div>
	    </div>
		
	    <div class="form-group">
	      <label for="flat" class="col-md-2 control-label">Квартира</label>
	      <div class="col-md-10">
			<input name="flat" placeholder="Квартира" value="{{.post.flat}}"
				   title="на этот адрес будут приходить сообщения о процессе рассмотрения и решения указанной проблемы (эта информация не будет опубликована на сайте)" 
			       id="flat" type="text" data-toggle="tooltip" class="form-control" />
	      </div>
	    </div>
		
	</div>
	
	<div class="container">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<div class="form-group">
			  <label class="control-label" for="posttext">Кратко опишите суть проблемы<b style="color:red;">*</b></label>
			  <textarea class="form-control" rows="4" id="posttext">{{.post.posttext}}</textarea>
			</div>
			<div class="container">
				<div class="col-md-12">
				  <span style="display:none;"><input id=fileuploadctrl type="file" multiple="multiple" accept="image/jpeg,image/jpg" class="btn"></span>
				  <div id=filesinfo></div>
				</div>
			</div>
			<div class="container">
				<div class="col-md-12">
				  <button type="submit" class="btn" id=fileupload>загрузить фото</button>
				</div>
			</div>
			
			
			<div class="checkbox" style="display:none;">
			    <label>
			        <input type="checkbox" name="hidepost" title="информация о заявлении будет доступна только сотрудникам МКУ ''УЖКХ''" 
					       id="hidepost" data-toggle="tooltip"> не публиковать это заявление на сайте
			    </label>
			</div>
		</div>
	</div>
	
	<br>
  </fieldset>
  <fieldset id=fieldset2>
	<div class="col-md-8 col-md-offset-1" id=resultinfo>{{.post.imagesuploaded_jsonstr}}</div>

	<div class="form-group">
	  <div class="col-md-10 col-md-offset-2">
	    <button type="submit" class="btn btn-primary btn-lg" id='sendpost'>отправить заявление</button>
	  </div>
	</div>
  </fieldset>
</form1>







